flask==2.3.3
line-bot-sdk==3.7.0
google-api-python-client==2.108.0
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.1.0
python-dateutil==2.8.2
pytz==2024.1
spacy==3.7.4
ja-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/ja_core_news_sm-3.7.0/ja_core_news_sm-3.7.0.tar.gz
jaconv==0.3.4
dateparser==1.2.0
python-dotenv==1.0.1
tenacity>=8.2.3
eventlet==0.33.3
gevent==22.10.2
uvicorn==0.27.1 